.game-container {
    height: 400px;
    text-align: center;
    background: #1f242d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5000px rgba(0, 0, 0, 0.2);
}

.main{
    height: 100vh;
}
  
.game-container main h1 {
    margin-bottom: 10%;
    color: #4caf50
}

.game-container main p{
    color: #fff;
}
  
.game-container button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition:0.3s;
}
  
.game-container button:hover {
    background-color: #fff;
    color: #4caf50;
}
  
.hidden {
    display: none;
}
  
#result {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-top:  20px;
}